body{
    background-color: white;
    color: white;
}
.top-div{
    
   background-color:rgb(236 141 141);
   border-radius: 0px 0px 0px 50px;
}
.top-nav{
    display: flex;
    justify-content:space-around;  
}

.container{
 display:flex;
 position:absolute;
 justify-content:space-around;
   }
.links{
margin-right: 30px;
justify-content:flex-end;
margin-right:25px;
   }
.last1{
    margin-bottom:10px ;
}
.medium-div{
    display: flex;
    justify-content: center;

}
.btn-mine{
    display: flex;
    justify-content: center;
}