body{
    background-color: white;
    color: white;
}
.top-div{
    height:400px;
   background-color:rgb(236 141 141);
   border-radius: 0px 0px 0px 50px;
}
.top-nav{
    display: flex;
    justify-content:space-around;
    height:50px;  

}

.container{
display:flex;
flex-direction:row;
justify-content:space-around;

   }
.links{
margin-top:20px;


   }
.last1{
    margin-bottom:10px ;
}
.medium-div{
    display: flex;
    justify-content: center;

}
.btn-mine{
    display: flex;
    justify-content: center;
}
.blogr{
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    height:40px;
    width:200px;
}
a {
    background-color: rgb(247, 99, 99);
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    border-radius:30px;
  }